*{
    box-sizing: border-box;
}
body{
    
    font-family: 'Montserrat',sans-serif;
    margin: 0;

    
}
#main{
 
}
#product-overview{
background: url('images/freedom.jpg');
height: 528px;
width: 100%;
padding: 10px ;
}
.section-title{
    color: #2ddf5c;
}
#product-overview h1{
    color: white;
    font-family: 'Anton',sans-serif;
}
.main-header{
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;

}
.main-nav__item{
    display: inline-block;
    margin: 0 16px;
    
}
.main-header > div{
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.main-nav a{
    
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;

}
.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 72px);
    vertical-align: middle;
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__item a:hover,
.main-nav__item a:active
 {
    color: white;
    border-bottom: 5px solid white;
}
.main-nav__item--cta a{
    color: white;
    background: rgb(255, 0, 128);
    padding: 8px 16px;
    border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: red;
    background: white;
    border: none;
}