*{
    box-sizing: border-box;
}
body{
    
    font-family: 'Montserrat',sans-serif;
    margin: 0;

    
}
#main{
 
}
#product-overview{
background: red;
height: 528px;
width: 100%;
padding: 10px ;
}
.section-title{
    color: #2ddf5c;
}
#product-overview h1{
    color: white;
    font-family: 'Anton',sans-serif;
}
.main-header{
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;

}
.main-nav__item{
    display: inline-block;
}
.main-header > div{
    display: inline-block;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 50px);
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}