
body{
    background: black;
    font-family: sans-serif;
}
h1{
    color: white;
    font-family: 'Anton', sans-serif;
 
}
.module-one{
    background-color: blue;
}

[disabled]{
    background-color: brown;
} 
#first-section{
    background-color: cyan;
    font-family: inherit;
}

body button{
    background-color: darkgray;
}

/*Strongly direct after h2*/
h2+p{
    background-color: lawngreen;
}
div{
    background-color: white;
}
/*Not have to be the direct one, all the p's under h2 is affected*/
h2~p{
    background-color: yellow;
}